[Unit]
Description=ActivServer node js server for Activhome
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/path/to/activServer/
ExecStart=/path/to/node/ /path/to/activServer/server.js

[Install]
WantedBy=multi-user.target
