[NETWORK]
ip=<Node IP>
port=<Node Port>

[API]
address=<API Relative URI>

[WINDOWS]
portPath=com3;
rootPath=C:\\wamp64\\www\\;
sep=\\;

[LINUX]
portPath=/dev/ttyUSB0;
rootPath=/home/pi/;
sep=/;

[DOORTHERMOSTAT]
timerBeforeExecute=10000